.timer {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
}

.unitRow {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: space-around;
  min-width: 215px;
}

.unitSection {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: flex-start;
}

.count {
  composes: textSubheader from './typography.css';
  flex: 0 1 auto;
  font-weight: bold;
  margin-top: .5em;
}

.label {
  composes: textBody from './typography.css';
  flex: 0 1 auto;
}
