@value headerHeight from './base-page.css';


.header {
    background-color: lightgray;
    height: headerHeight;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.headerLinks {
    composes: container from './base-page.css';
}

.link {

}

.logo {
    height: 100%;
    width: auto;
}