@import './colors.css';
@import './base-page.css';

:root {
    --headerLinkPadding: 1rem;
}


.header {
    background-color: var(--yellow);
    box-shadow: 0px -1px 10px rgba(35, 37, 53, .5);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: var(--headerHeight);
    z-index: 1;
}

.header:after {
    background-color: var(--yellow);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.headerLinks {
    composes: container from './base-page.css';
    composes: textItalic from './typography.css';
    align-items: center;
    background-color: white;
    box-shadow: 0px -1px 10px rgba(35, 37, 53, .5);
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    justify-content: flex-start;
    position: relative;
    transform: translateY(-100%);
    width: 100%;
    z-index: -1;
}

.open .headerLinks {
    transform: translateY(var(--headerHeight));
    transition: transform .2s ease-in;
}

.link {
    align-self: stretch;
    color: #232111;
    background-color: transparent;
    flex: 0 1 auto;
    line-height: var(--headerHeight);
    padding: 0 var(--headerLinkPadding);
    text-decoration: none;
    width: 100%;
}

.link:focus,
.link:hover,
.link:active,
.linkActive {
    background-color: var(--yellow-dark);
    color: var(--white);
}

.link:focus,
.link:hover,
.link:active {
    text-decoration: underline;
}

.openToggle {
    background: url(../images/icons/menu.svg) no-repeat center center/75%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 1;
}

@media screen and (min-width: 50rem) {
    .header:after {
        display: none;
    }

    .headerLinks,
    .open .headerLinks{
        background-color: transparent;
        box-shadow: none;
        height: 100%;
        transform: translateY(0%);
        transition: none;
        z-index: auto;
    }

    .link {
        width: auto;
    }

    .openToggle {
        display: none;
    }
}