@import './colors.css';


.cutePhoto {
    display: block;
    height: auto;
    max-width: 100%;
    /*
        The actual displayed image comes from a background-image inline style
        set on .pictureFrame in home-page.js. This is a workaround for inset
        box shadows not working on img tags and border-radius not working on
        img tags in some browsers.

        http://webdesignerwall.com/tutorials/css3-rounded-image-with-jquery;
    */
    opacity: 0;
}

.pictureFrame {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    box-shadow: inset 0 0 80px rgba(0, 0, 0, .25);
    display: inline-block;
    overflow: hidden;
    width: auto;
}

.pictureWall {
    max-width: 100%;
    text-align: center;
}

.header {
    composes: textHeader from './typography.css';
}

.bodyCopy {
    composes: textBody from './typography.css';
    margin: 20px 0 0 0;
    text-align: center;
}

.sectionHeader {
    composes: textSubheader from './typography.css';
}

.subheader {
    composes: sectionHeader;
    margin: 1em 0;
    text-align: center;
}