* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {

}

body {
    margin: 0;
}

.reactRoot {
    min-height: 100%;
}